<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098922081998-3m18qph721lihe2sj98nc9fvvppmta84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098922081998-3m18qph721lihe2sj98nc9fvvppmta84</string>
	<key>API_KEY</key>
	<string>AIzaSyD9T4skXvDiizrETFgQMlEggNabFayhwjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1098922081998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmlancer</string>
	<key>PROJECT_ID</key>
	<string>farmlancerauth</string>
	<key>STORAGE_BUCKET</key>
	<string>farmlancerauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098922081998:ios:fab50a0cc882342c5e5a9f</string>
</dict>
</plist>